<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>


  <akka>
    <hocon>
      <![CDATA[      
akka {

	actor {
        provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
         
        serializers {
            wire = "Akka.Serialization.HyperionSerializer, Akka.Serialization.Hyperion"
        }
                    
        serialization-bindings {
            "System.Object" = wire
        }        
                    
        deployment {
            /coordinatorRouter {
                router = round-robin-group
                routees.paths = ["/user/coordinator"]
                nr-of-instances = 100
                cluster {
                    enabled = on
                    allow-local-routees = on
                    max-nr-of-instances-per-node = 1
                    use-role = report
                } #cluster
            } #coordinator
                        
            /coordinator/reportPool {
                #router = smallest-mailbox-pool
                router = round-robin-pool
                nr-of-instances = 10
            }
                        
        } #deployment
    } #actor
                  
    remote {
        helios.tcp {
            hostname = "127.0.0.1"
            port = 0
        }
    }            

    cluster {
        seed-nodes = ["akka.tcp://CB5@127.0.0.1:4053"]
        roles = [monitor]
    }
    
    zombie-killer {
      cleanup-interval-in-seconds = 7200
      wait-for-responses-in-seconds = 20
      report-becomes-zombie-after-in-seconds = 3600
    }
    
    report-processing {
      max-queue-size = 1000
      work-request-reminder-interval-in-seconds = 200
      report-timeout-in-seconds = 3600
      wait-for-report-timeout-in-seconds = 15
    }
}      

      ]]>
    </hocon>
  </akka>

</configuration>